# Environment variables / secrets
.env

# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Local Django database
db.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Collected static files
staticfiles/